.formContainer{
    width: 100%;
    justify-content: center;
    padding-top:2em;
    border: 3px solid #e842185d;
    background-color:#e8421817;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.formContainer span{
    font-weight: 600;
}

.form{
    width: 60%;
}