.profileBar {
  flex: 1;
  display: flex;
  justify-content: end;
  column-gap: 2.5em;
  align-items: center;
  padding-right: 10em;
}

.profile {
  background: rgb(184, 22, 17);
  color: #f5f6fa;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.5s;
}

.profile:hover {
  background: #f5f6fa;
  color: #e84118;
  transition: 0.5s;
}

.logout {
  color: #f5f6fa;
  transition: 0.5s;
}

.logout:hover {
  color: #e84118;
  transition: 0.5s;
}
