.navBar{
    flex: 1;
    display: flex;
    justify-content:start;
    column-gap: 2.5em;
    padding-left: 10em;
}
.navBar a{
    color: #f5f6fa;
}
.navBar a:hover{
    color: #e84118;
    transition: 0.5s;
}

/* 
.navBar ul{
    display: flex;
    list-style: none;
    flex-wrap:wrap;
    padding-left: 0;
}  */
/* 
.navBar ul li a{
    text-decoration:none;
    color:black;
}   */
