.frontPageArticleArea{
    display: flex;
    height: 100vh;
    background-image: url('../../../public/main-article-pic.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color: rgb(222, 220, 220);
    font-size:1.5em;
   
}
.mainArticle{
    padding-left: 20vh;
    padding-top: 20vh;
}
img{
    object-fit:fill;
} 