header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size:1.2em;
    height:4em;
    width: 90%;
    margin: 0 auto;
    /*margin-bottom:2em;
    margin-top:1em;*/
}

.nav-bar, .login-bar, .site-title{
    flex: 1;
    display: flex;
}

.site-title{
    justify-content: center;
}

.nav-bar{
    justify-content:start;
}

.login-bar{
    justify-content:end;
}    

nav ul,
.buttons{
    display: flex;
    list-style: none;
    column-gap: 2.5em;
    flex-wrap:wrap;
    padding-left: 0;
} 

 nav ul li a,
.buttons li a{
    text-decoration:none;
    color:black;
}

.buttons{
    align-items:center;
}

.buttons li:last-child {
    background: rgb(184, 22, 17);
    padding: 10px 20px;
    border-radius:8px;
}
.buttons li:last-child a {
    color: rgba(255, 255, 255, 0.964);
} 
