.siteTitle{
    flex: 1;
    display: flex;
    justify-content: center;
    color: #f5f6fa;
    font-family: "Rubik Bubbles", sans-serif;
    font-size: 48px;
    word-spacing: 10px;
    transition: 0.5s;
}
.siteTitle:hover{
    color: #e84118;
    transition: 0.5s;
}