.footer {
  background: #151414;
  flex-direction: column;
  margin-top: 4em;
  border-top: 3px solid #e842185d;
  border-bottom: 3px solid #e842185d;
}
.aboutUs {
  height: 80px;
  padding-left: 5em;
  padding-right: 5em;
  flex-wrap: wrap;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyNav {
  padding-left: 5em;
  padding-right: 5em;
  background: #202020;
  height: 50px;
  align-items: center;
  flex-wrap: wrap;
}
.copyrightText,
.footerMenu,
.repo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.info span {
  color: #757575;
  font-size: 15px;
}
.copyrightArea {
  background: #202020;
  padding: 25px 0;
}
.copyrightText p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyrightText p a {
  color: #ff5e14;
}
.footerMenu li {
  display: inline-block;
  margin-left: 20px;
}
.footerMenu li:hover a {
  color: #ff5e14;
}
.footerMenu li a {
  font-size: 14px;
  color: #878787;
}
