.articleList {
  flex-wrap: wrap;
  gap: 1.5em 2em;
}

.articleOptions {
  align-items: center;
  justify-content: space-between;
  width: 78vw;
  margin: 1em;
  flex-wrap: wrap;
}

.articleHeading {
  font-weight: 700;
}
