.container {
    display: flex;
    flex-wrap:nowrap;
    gap:200px;
    overflow-x:scroll;
    height: 600px;
}

.container::-webkit-scrollbar {
    height: 8px;
}
  
.container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}
  
.container::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

/* .item {
    width: 1000px;
  } */